[submodule "libraries/SerialCommand"]
	path = libraries/SerialCommand
	url = https://github.com/sweetpi/Arduino-SerialCommand.git
[submodule "libraries/RFControl"]
	path = libraries/RFControl
	url = https://github.com/pimatic/RFControl.git
[submodule "arduino-mk"]
	path = arduino-mk
	url = https://github.com/sweetpi/Arduino-Makefile.git